<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/404/404.css">
    <link rel="shortcut icon" href="images/myPhoto.jpg" type="image/jpg">
    {{>upperlinks}}
</head>

<body>
    {{>header}}
    <div class="main_section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="mx-auto col-10 col-lg-6 my-3 err text-center "></h1>
            </div>
            <div class="row">
                <img class="col-10 col-lg-8 mx-auto my-2" src="images/404.svg" alt="">
            </div>
        </div>

    </div>

    </div>
    {{>footer}}
    {{>lowerlinks}}
    <script src="js/typed.min.js"></script>
    <script>
        var typed = new Typed('.err', {
  strings: ["Oops...You Seemed To Be Lost!!!"],
  typeSpeed: 30
});
    </script>
</body>

</html>