<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <link rel="stylesheet" href="css/contact/contact.css">
    {{>upperlinks}}
    <link rel="shortcut icon" href="images/myPhoto.jpg" type="image/jpg">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>


<body>
    {{>header}}
    <div class="main_section">
        <div class="login-box">
            <img src="images/myPhoto.jpg" class="avatar">
            <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="text-white"> Contact Me
            </h1>
            <form data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500" method="POST" action="/contact">

                <input class="text-white" type="text" name="username" placeholder="Enter Your Name" autocomplete="off"
                    required>
                <input class="text-white" type="email" name="email" placeholder="Enter Your Email" autocomplete="off"
                    required>
                <input class="text-white" type="tel" name="phone" placeholder="Enter Your Phone Number"
                    autocomplete="off" required>
                <input class="text-white" type="text" name="msg" placeholder="Enter Your Message..." autocomplete="off"
                    required>
                <button type="submit">Login</button>
            </form>


        </div>

    </div>
    {{>footer}}
    {{>lowerlinks}}
    <script>
        AOS.init();
    </script>
</body>

</html>