<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <link rel="stylesheet" href="css/contact/contact.css">
    {{>upperlinks}}
    <link rel="shortcut icon" href="images/myPhoto.jpg" type="image/jpg">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>


<body>
    {{>header}}
    <div class="main_section">
        <div class="login-box">
            <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="text-white my-5"> Contact
                Me
            </h1>
            <div class="container-fluid">
                <div class="row">
                    <form class="my-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500" method="POST"
                        action="/contact">
                        <div class="container-fluid">
                            <div class="row">
                                <input class="text-white col-10 mx-auto my-4" type="text" name="username" placeholder="Enter Your Name"
                                    autocomplete="off" required>
                                <input class="text-white col-10 mx-auto my-4" type="email" name="email" placeholder="Enter Your Email"
                                    autocomplete="off" required>
                                <input class="text-white col-10 mx-auto my-4" type="tel" name="phone" placeholder="Enter Your Phone Number"
                                    autocomplete="off" required>
                                <input class="text-white col-10 mx-auto my-4" type="text" name="msg" placeholder="Enter Your Message..."
                                <input class="text-white col-10 mx-auto my-4" type="text" name="msg" placeholder="Enter Your Message..."
                                    autocomplete="off" required>
                                <button class="col-10 mx-auto my-4" type="submit">Login</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>



        </div>

    </div>
    {{>footer}}
    {{>lowerlinks}}
    <script>
        AOS.init();
    </script>
</body>

</html>