<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>upperlinks}}
    <link rel="stylesheet" href="css/submit/submit.css">
    <link rel="shortcut icon" href="images/myPhoto.jpg" type="image/jpg">
</head>

<body>
    {{>header}}
    <div class="main_section">
        <div class="container-fluid">
            <div class="row ">
                <h1 class="col-10 col-lg-8 mx-auto my-3 text-center">Your Response has been Recieved {{name}}!!!</h1>

            </div>
            <div class="row ">
                <h1 class="col-10 col-lg-8 my-3 mx-auto text-center">Thanks for Submitting the Form 🙂!!!</h1>
            </div>
            <div class="row">

               <div class="confirm  far fa-shield-check col-10 col-lg-8 my-5 mx-auto text-center"><i class="fad fa-check-circle"></i></div> 


            </div>
            <div class="row">
                 <a href="/" class="home_page text-center col-9 col-sm-4 mx-auto col-lg-3 my-5">Back To Home</a>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>lowerlinks}}


</body>

</html>