<section class="main_header">
  <nav class="navbar navbar-expand-lg  navbar-dark ">
    <a class="navbar-brand" href="/">
      <div class="logo"><i class="far fa-snowflake"></i><img src="images/myPhoto.jpg" alt="" srcset=""><i
          class="far fa-snowflake"></i></div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" target="_tejas" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about" target="_tejas">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contact" target="_tejas">Contact <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <div class="nav_buttons">
        <a href="https://github.com/T232616/" target="_tejas"><button class="nav_button">Github</button></a>
        <a href="https://www.linkedin.com/in/tejas-jhamnani" target="_tejas"><button
            class="nav_button">linkedin</button></a>
      </div>
    </div>

  </nav>
</section>