@import "var";
@mixin footer {
  background-color: $footer-color;
  color: $primary-color;
  margin-top: auto;
  text-align: center;
}
@mixin body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@mixin button {
  border: none;
  outline: none;
  padding: 0.3rem 2rem;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 2rem;
  font-size:1.5rem;
}
