@import "../header_style/navbar.scss";
@import "../footer_style/footer.scss";

// Home starts
.header_left {
  padding:0.5rem 1.5rem;
}
.header_right {
  & > img {
    width: 100%;
  }
}
.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-color: rgb(20, 20, 97);
  & .header_left {
    text-align: center;
    & p {
      font-size: 4.5rem;
      color: $primary-color;
      & .typed-text{
        font-weight: normal;
        color: #dd7732;
      }
      & .cursor{
        display: inline-block;
        background-color: #ccc;
        margin-left: 0.1rem;
        width: 0.3rem;
        animation: blink 1s infinite;
      }
    }
    & button {
      transition: 0.5s ease;
      @include button;
      &:hover{
        box-shadow: 0px 0px 0.2rem 0.2rem #fff;
      }
    }
  }
  & .header_right {
    animation: up-down 1s infinite linear alternate-reverse;
  }
}
@keyframes up-down {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.typing{
  animation: none;
}
// Responsive Code for Home
@media (max-width:320px)
{
  html{
    font-size:36.5%!important ;
  }
}
@media(max-width:455px)
{
  html{
  font-size:50%;
  }
}
// Responsive Code for Home
// Home ends

