@import "../header_style/navbar.scss";
@import "../footer_style/footer.scss";
.main_section{
   width: 100vw;
   height: 100vh;
   background-color: #141461;
   display:flex;
   justify-content: center;
   align-items: center;
   h1{
       color: #dd7732;
       font-size:4rem;
   }
   img{
       width:100%;
       height: 100%;
   }
}
@media (max-width:1223px)
{
  html{
    font-size:40.5%;
  }
}
@media (max-width:500px)
{
  html{
    font-size:27.5%;
  }
}
@media (max-width:350px)
{
  html{
    font-size:27.5%;
  }
}
@media (max-width:342px)
{
  html{
    font-size:20.5%;
  }
}