@import "../header_style/navbar";
@import "../footer_style/footer";
.main_section {
  width: 100vw;
  height: 100vh;
  background-color: #141461;
  display: flex;
  justify-content: center;
  align-items: center;
 
 & .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: relative;
    top:7rem;
  background-color: #00a5a5;
  }
    & .card {
        overflow: hidden;
      width: 35rem;
      height: 45rem;
      background-color: #4461ff;
      color: #fff;
      & img {
          position: relative;
          transition: 0.5s ease;

          
          &:hover {
              transform:scale(1.4);
          }
      }
      & p {
        font-size: 1.5rem;
      }
      & .btn {
        font-size: 1.7rem;
        border-radius:0.5rem;
        transition: 0.5s ease;
        background-color: #0082ea;
        border-color: #0082ea;
        &:hover {
          box-shadow: 0 0 0.4rem 0.4rem #0082ea;
        }
      }
    }
.carousel-control-prev-icon{
    color:#00a5a5!important;
}
}
@media (max-width:320px){
    html{
        font-size:38.5%;
    }
}
